@font-face {
    font-family: 'Macklin Sans';
    src: url("../fonts/MacklinSans-Regular.woff2") format("woff2"),url("../fonts/MacklinSans-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: 'Macklin Sans';
    src: url("../fonts/MacklinSans-Medium.woff2") format("woff2"),url("../fonts/MacklinSans-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: 'Macklin Sans';
    src: url("../fonts/MacklinSans-Bold.woff2") format("woff2"),url("../fonts/MacklinSans-Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: 'Macklin Text';
    src: url("../fonts/MacklinText-Regular.woff2") format("woff2"),url("../fonts/MacklinText-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-stretch: normal
}

@font-face {
    font-family: 'Macklin Text';
    src: url("../fonts/MacklinText-Italic.woff2") format("woff2"),url("../fonts/MacklinText-Italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-stretch: normal
}

@font-face {
    font-family: 'Macklin Text';
    src: url("../fonts/MacklinText-Bold.woff2") format("woff2"),url("../fonts/MacklinText-Bold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-stretch: normal
}

html {
    box-sizing: border-box
}

*,*:before,*:after {
    box-sizing: inherit
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,strong {
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

img {
    border-style: none
}

button,input,optgroup,select,textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

button,[type="button"],[type="reset"],[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: 0.35em 0.75em 0.625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"],[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

body,h1,h2,h3,h4,h5,h6,blockquote,p,pre,dl,dd,ol,ul,figure,hr,fieldset,legend {
    margin: 0;
    padding: 0
}

li>ol,li>ul {
    margin-bottom: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset {
    min-width: 0;
    border: 0
}

p {
    margin: 0 0 0.75em 0;
    line-height: 1.4
}

a {
    color: inherit;
    text-decoration: underline;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

a,:-moz-any-link:focus {
    outline: none
}

ul,ol,dl {
    margin: 1em 0 2em 1.5em;
    padding-left: 1em;
    list-style-type: disc
}

ul li,ul dt,ul dd,ol li,ol dt,ol dd,dl li,dl dt,dl dd {
    line-height: 1.25em;
    margin-bottom: 0.5em
}

ul ul,ul ol,ul dl,ol ul,ol ol,ol dl,dl ul,dl ol,dl dl {
    list-style-type: circle
}

ol {
    list-style-type: decimal
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 4px;
    font-size: 95%;
    margin-bottom: 30px
}

table caption {
    margin-bottom: 6px;
    text-align: left;
    font-size: 0.85em
}

table td {
    padding: 10px;
    vertical-align: center
}

table th {
    font-weight: 600;
    text-align: left;
    padding: 14px 10px;
    vertical-align: center;
    border-bottom: 2px solid #D1DADD
}

@media (min-width: 62.5em) {
    table {
        margin-bottom:60px
    }
}

kbd,code,samp,pre {
    background: #F7F8F9;
    font-family: 'Courier New', Courier, monospace;
    padding: 4px
}

pre {
    overflow: scroll;
    font-size: 80%;
    line-height: 1.25em;
    padding: 3%;
    margin-bottom: 1.25em
}

strong {
    font-weight: 600
}

em {
    font-style: italic
}

i {
    font-style: italic
}

b {
    font-weight: 600
}

small {
    font-size: 0.75em
}

q {
    quotes: inherit
}

q:before {
    content: open-quote
}

q:after {
    content: close-quote
}

cite {
    font-weight: bold
}

dfn {
    font-weight: bold
}

var {
    font-style: italic
}

time {
    font-weight: bold
}

figure {
    margin-bottom: 0
}

figcaption {
    font-size: 0.889em
}

::-moz-selection {
    background: #F7F1E1;
    color: #0D1523
}

::selection {
    background: #F7F1E1;
    color: #0D1523
}

html {
    font-size: 0.9em;
    line-height: 1.5;
    min-height: 0vw;
    font-family: monospace, sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;
    color: #0D1523;
    height: 100%
}

@media (min-width: 30em) {
    html {
        font-size:1.0em
    }
}

@media (min-width: 62.5em) {
    html {
        font-size:1.1em
    }
}

@media (min-width: 130em) {
    html {
        font-size:1.2em
    }
}

body {
    background: #0D1523;
    overflow-y: scroll
}

.c-content {
    background: #FDFDFD;
    overflow: hidden
}

img {
    max-width: 100%;
    font-style: italic;
    vertical-align: middle;
    height: auto
}

.o-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 2080px;
    padding-left: 1rem;
    padding-right: 1rem
}

@media (min-width: 30em) {
    .o-wrapper {
        padding-left:1.5rem;
        padding-right: 1.5rem
    }
}

@media (min-width: 75em) {
    .o-wrapper {
        padding-left:3rem;
        padding-right: 3rem
    }
}

.o-wrapper--flush {
    padding-left: 0;
    padding-right: 0
}

.o-grid {
    margin-right: auto;
    margin-left: auto;
    max-width: 2080px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows: repeat(1, [row] auto);
    grid-column-gap: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

@media (min-width: 30em) {
    .o-grid {
        padding-left:1.5rem;
        padding-right: 1.5rem
    }
}

@media (min-width: 75em) {
    .o-grid {
        padding-left:3rem;
        padding-right: 3rem
    }
}

@media (min-width: 52.5em) {
    .o-grid {
        padding-top:3vw;
        padding-bottom: 3vw
    }
}

.c-article .o-grid {
    grid-row-gap: 1rem
}

.c-header .o-grid {
    grid-row-gap: 0.75rem
}

.o-grid-col--start-1 {
    grid-column-start: col 1
}

.o-grid-col--span-1 {
    grid-column-end: span 1
}

.o-grid-col--start-2 {
    grid-column-start: col 2
}

.o-grid-col--span-2 {
    grid-column-end: span 2
}

.o-grid-col--start-3 {
    grid-column-start: col 3
}

.o-grid-col--span-3 {
    grid-column-end: span 3
}

.o-grid-col--start-4 {
    grid-column-start: col 4
}

.o-grid-col--span-4 {
    grid-column-end: span 4
}

.o-grid-col--start-5 {
    grid-column-start: col 5
}

.o-grid-col--span-5 {
    grid-column-end: span 5
}

.o-grid-col--start-6 {
    grid-column-start: col 6
}

.o-grid-col--span-6 {
    grid-column-end: span 6
}

.o-grid-col--start-7 {
    grid-column-start: col 7
}

.o-grid-col--span-7 {
    grid-column-end: span 7
}

.o-grid-col--start-8 {
    grid-column-start: col 8
}

.o-grid-col--span-8 {
    grid-column-end: span 8
}

.o-grid-col--start-9 {
    grid-column-start: col 9
}

.o-grid-col--span-9 {
    grid-column-end: span 9
}

.o-grid-col--start-10 {
    grid-column-start: col 10
}

.o-grid-col--span-10 {
    grid-column-end: span 10
}

.o-grid-col--start-11 {
    grid-column-start: col 11
}

.o-grid-col--span-11 {
    grid-column-end: span 11
}

.o-grid-col--start-12 {
    grid-column-start: col 12
}

.o-grid-col--span-12 {
    grid-column-end: span 12
}

.o-grid-col--full,.c-single-image.c-single-image--full,.c-quote.c-single-image--full {
    grid-column-start: col 1;
    grid-column-end: span 12
}

.o-grid-col--content {
    grid-column-start: col 5;
    grid-column-end: span 8
}

@media (min-width: 62.5em) {
    .o-grid-col--half {
        grid-column-end:span 6
    }

    .o-grid-col--half.u-align--left {
        grid-column-start: col 1
    }

    .o-grid-col--half.u-align--center {
        grid-column-start: col 4
    }

    .o-grid-col--half.u-align--right {
        grid-column-start: col 7
    }
}

@media (min-width: 62.5em) {
    .o-grid-col--aside {
        grid-column-start:col 1;
        grid-column-end: span 3
    }

    .o-grid-col--aside.u-align--right {
        grid-column-start: col 10
    }
}

@media (min-width: 62.5em) {
    .o-grid-col--third {
        grid-column-start:col 1;
        grid-column-end: span 4
    }

    .o-grid-col--third.u-align--center {
        grid-column-start: col 5
    }

    .o-grid-col--third.u-align--right {
        grid-column-start: col 9
    }
}

@media (min-width: 62.5em) {
    .o-grid-col--inline {
        grid-column-start:col 5;
        grid-column-end: span 8
    }

    .o-grid-col--inline.u-align--left {
        grid-column-start: col 1
    }

    .o-grid-col--inline.u-align--center {
        grid-column-start: col 3
    }
}

@media (max-width: 62.49em) {
    .o-grid-col {
        grid-column-start:col 1;
        grid-column-end: span 12
    }
}

@media (min-width: 62.5em) {
    .o-grid-col.u-v-align--bottom {
        align-self:end
    }

    .o-grid-col.u-v-align--middle {
        align-self: center
    }
}

.o-grid-col--card {
    grid-column-end: span 6
}

.o-grid-col--card:nth-child(odd) {
    grid-column-start: col 1
}

.o-grid-col--card:nth-child(even) {
    grid-column-start: col 7
}

@media (min-width: 52.5em) {
    .o-grid-col--card {
        grid-column-end:span 3
    }

    .o-grid-col--card:nth-child(4n+1) {
        grid-column-start: col 1
    }

    .o-grid-col--card:nth-child(4n+2) {
        grid-column-start: col 4
    }

    .o-grid-col--card:nth-child(4n+3) {
        grid-column-start: col 7
    }

    .o-grid-col--card:nth-child(4n+4) {
        grid-column-start: col 10
    }
}

@media (max-width: 62.49em) {
    .o-grid-col--title:first-of-type+.o-grid-col--text {
        border-top:2px solid #E5E9EB;
        padding-top: 2em
    }
}

.u--flush-padding-top {
    padding-top: 0 !important
}

.u--flush-padding-bottom {
    padding-bottom: 0 !important
}

.u--flush-margin-top {
    margin-top: 0 !important
}

.u--flush-margin-bottom {
    margin-bottom: 0 !important
}

.o-iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0
}

.o-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

h1,h2,h3,h4,h5,h6 {
    line-height: 1.1;
    margin: 0;
    font-weight: 600
}

h1 {
    font-size: 1.424em
}

h2 {
    font-size: 1.602em
}

h3,h4 {
    font-size: 1.266em
}

.u-nowrap {
    white-space: nowrap
}

.c-header {
    width: 100%;
    padding-top: 0.2em;
    padding-bottom: 10em;
}

.c-header .c-header__logo h1 {
    margin-right: 10px
}

.c-header .c-header__logo a {
    text-decoration: none;
    transition: none;
}

.c-header .c-header__logo .c-header__name {
    display: flex;
    margin-right: 10px
}

.c-header .c-header__logo .social_icon {
    font-size: 0.8em;
    margin-left: 2px;
    margin-top: 3px;
    margin-right: 2px;
}

.c-header .c-header__logo .social_icon a {
    color: #525252
}

.c-header__jump {
    position: fixed;
    left: -99999px;
    height: 10px;
    width: 10px;
    transition: none;
    font-size: 0.889em;
    line-height: 1.3
}

.c-header__jump:focus {
    left: 0;
    z-index: 9999;
    width: calc(100% - 8px);
    height: auto;
    top: 4px;
    left: 4px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    text-decoration: none;
    background: #0D1523;
    color: #FDFDFD
}

.c-footer {
    background: rgb(66, 66, 66)
}

.c-footer .c-footer__nav {
    text-align: center;
    font-size: 0.7em;
    margin-top: 4px;
    margin-right: 4px;
}

.c-footer .c-footer__email a {
    transition: none;
    text-decoration: none
}

.c-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0.2em 0 0
}

@media (min-width: 62.5em) {
    .c-nav-list {
        padding:0
    }
}

.c-nav-list .c-nav-list__item {
    display: inline-block;
    font-weight: 500;
    margin: 0 1.1em 0 0
}

.c-nav-list .c-nav-list__item:last-child {
    margin: 0
}

.c-nav-list .c-nav-list__item a {
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s opacity ease;
    font-weight: 700;
}

.c-nav-list .c-nav-list__item:hover a {
    opacity: 1
}

.c-header__nav .c-nav-list .c-nav-list__item {
    font-size: 0.9em
}

.c-footer__nav .c-nav-list .c-nav-list__item {
    font-size: 1em
}

body.page--home .c-nav-item--projects a,body.page--projects-child .c-nav-item--projects a,body.page--info .c-nav-item--info a,body.page--notes .c-nav-item--notes a,body.page--notes-child .c-nav-item--notes a,body.page--archive .c-nav-item--archive a,body.page--archive-child .c-nav-item--archive a {
    opacity: 1
}

.c-container {
    padding: 2vw 0
}

.c-container .c-container__title {
    font-size: 1.602em
}

.c-project-card {
    margin: 0.5em 0
}

.c-project-card .c-project-card__image {
    background: #D1DADD
}

.c-project-card .c-project-card__image img {
    width: 100%;
    opacity: 0.8;
    transition: 0.3s opacity ease
}

.c-project-card .c-project-card__image.c-project-card__image--crop::before {
    content: "";
    float: left;
    padding-bottom: 125%
}

.c-project-card .c-project-card__image.c-project-card__image--crop::after {
    clear: left;
    content: " ";
    display: table
}

.c-project-card .c-project-card__meta {
    display: block;
    padding-top: 0.7em;
    line-height: 1.15;
    letter-spacing: 0.01em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.79em
}

.c-project-card .c-project-card__meta span {
    display: inline
}

.c-project-card .c-project-card__meta span:not(:last-of-type)::after {
    content: ',';
    padding-right: 0.1em
}

.c-project-card .c-project-card__meta span+.c-project-card__date {
    white-space: nowrap
}

.c-project-card .c-project-card__meta span+.c-project-card__date::before {
    content: '— '
}

.c-project-card .c-project-card__meta+.c-project-card__title {
    padding-top: 0.2em
}

.c-project-card .c-project-card__text {
    font-weight: 500;
    margin-top: 0.3em;
    margin-left: 0.1em;
}

.c-project-card .c-project-card__title {
    display: block;
    font-family: sans-serif;
    padding-top: 0.4em;
    font-size: 1.125em
}

@media (min-width: 30em) {
    .c-project-card .c-project-card__title {
        font-size:1.266em
    }
}

.c-project-card .c-project-card__link {
    text-decoration: none;
    transition: none
}

.c-project-card .c-project-card__link:hover .c-project-card__image img,.c-project-card .c-project-card__link:focus .c-project-card__image img {
    opacity: 1
}

.c-article-list {
    padding: 1rem 0
}

.c-article-card {
    max-width: 58ch;
    padding-bottom: 1.75em
}

.c-article-card .c-article-card__link {
    text-decoration: none;
    transition: none
}

.c-article-card .c-article-card__title {
    font-size: 1.266em;
    line-height: 1.1
}

.c-article-card .c-article-card__excerpt p {
    margin: 0;
    font-family: 'Macklin Text', Georgia, serif;
    font-size: 1em;
    line-height: 1.3;
    padding: 0.5em 0 0
}

.c-article-card .c-article-card__meta {
    display: block;
    margin: 0;
    padding-top: 1em;
    line-height: 1;
    opacity: 0.7;
    letter-spacing: 0.01em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.889em
}

.c-article-card+.c-article-card {
    border-top: 2px solid #E5E9EB;
    padding-top: 1.75em
}

.c-article .c-article__intro,.c-article .c-article__text,.c-article .c-article__signoff {
    max-width: 58ch;
    padding-top: 0.75rem
}

.c-article .c-article__title {
    font-size: 1.602em;
    margin-bottom: 0.75em
}

.c-article .c-article__title--medium {
    font-size: 1.424em
}

.c-article .c-article__title--small {
    font-size: 1.266em
}

.c-article .c-article__meta {
    opacity: 0.7;
    letter-spacing: 0.01em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.889em;
    display: inline-block;
    padding-bottom: 0.33em
}

.c-article .c-article__meta span {
    display: inline
}

.c-article .c-article__meta span:not(:last-of-type)::after {
    content: ',';
    padding-right: 0.1em
}

.c-article .c-article__meta span+.c-article__date::before {
    content: '— '
}

.c-article .c-article__meta .c-article__date {
    font-weight: 600
}

.c-article .c-article__synopsis p {
    line-height: 1.35
}

.c-article .c-article__meta,.c-article .c-article__synopsis {
    max-width: 85%
}

@media (min-width: 62.5em) {
    .c-article .c-article__meta,.c-article .c-article__synopsis {
        max-width:none
    }
}

.c-article .c-article__text p,.c-article .c-article__text ul,.c-article .c-article__text ol {
    font-size: 1.125em;
    letter-spacing: -0.005em;
    font-family: 'Macklin Text', Georgia, serif
}

.c-article .c-article__text p {
    margin-bottom: 0.85em
}

.c-article .c-article__text p+h1,.c-article .c-article__text p+h2,.c-article .c-article__text p+h3,.c-article .c-article__text p+h4,.c-article .c-article__text p+h5 {
    margin-top: 1.6em
}

.c-article .c-article__text ul,.c-article .c-article__text ol {
    margin: 1.25em 0
}

.c-article .c-article__text ul li,.c-article .c-article__text ol li {
    line-height: 1.4
}

.c-article .c-article__text h1,.c-article .c-article__text h2,.c-article .c-article__text h3,.c-article .c-article__text h4,.c-article .c-article__text h5 {
    margin: 0 0 0.9em
}

.c-article .c-article__text h1,.c-article .c-article__text h2,.c-article .c-article__text h3 {
    font-size: 1.602em
}

.c-article .c-article__text h4 {
    font-size: 1.424em
}

.c-article .c-article__text h5 {
    font-size: 1.266em
}

.c-article .c-article__text code {
    background: #1D2C38;
    display: block;
    color: #FDFDFD;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.889em;
    padding: 0.25em 0.5em
}

.c-article p a {
    text-decoration-color: #EA8C88;
    -webkit-transition: text-decoration-color 200ms ease;
    -moz-transition: text-decoration-color 200ms ease;
    -ms-transition: text-decoration-color 200ms ease;
    -o-transition: text-decoration-color 200ms ease;
    transition: text-decoration-color 200ms ease
}

.c-article p a:hover {
    text-decoration-color: currentColor
}

.c-article p a.external {
    padding-right: 0.85rem
}

.c-article p a.external::after {
    content: ' ↗';
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    position: absolute;
    width: 0.85rem;
    padding-left: 0.1rem;
    white-space: nowrap
}

.c-article .c-article__signoff .c-signoff__wrap {
    display: flex;
    flex-direction: row;
    align-items: center
}

.c-article .c-article__signoff .c-signoff__image {
    width: 100px;
    height: auto
}

.c-article .c-article__signoff .c-signoff__text {
    padding-left: 1em
}

.c-article .c-article__signoff .c-signoff__text p {
    margin: 0;
    line-height: 1.3
}

.c-article .c-article__signoff .c-article__hr {
    margin-bottom: 1.5em;
    height: 1.7em
}

@media (min-width: 62.5em) {
    .c-article .c-article__signoff .c-article__hr {
        height:2em;
        margin-bottom: 2em
    }
}

.c-article__hr,.c-article hr {
    height: 1em;
    border: none;
    border-bottom: 2px solid #E5E9EB;
    margin-bottom: 1.75em
}

@media (min-width: 62.5em) {
    .c-article__hr,.c-article hr {
        height:1.5em
    }
}

.u-cool--light-bg .c-article__hr,.u-off-white-bg .c-article__hr,.u-cool--light-bg .c-article hr,.u-off-white-bg .c-article hr {
    border-color: #D1DADD
}

.u-warm--light-bg .c-article__hr,.u-warm--light-bg .c-article hr {
    border-color: #F7F1E1
}

.u-warm--mid-bg .c-article__hr,.u-warm--mid-bg .c-article hr {
    border-color: #E8DFBC
}

.u-warm--dark-bg .c-article__hr,.u-warm--dark-bg .c-article hr {
    border-color: #F7F1E1
}

.u-peach-bg .c-article__hr,.u-peach-bg .c-article hr {
    border-color: #F7F1E1
}

.c-gallery__wrap {
    display: grid;
    grid-template-columns: repeat(1, [col] 1fr);
    grid-template-rows: repeat(1, [row] auto);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-column-start: col 1;
    grid-column-end: span 12
}

.c-gallery__wrap .c-image {
    margin: 0
}

@media (min-width: 62.5em) {
    .c-gallery--1-col .c-gallery__wrap {
        grid-column-start:col 2;
        grid-column-end: span 10
    }
}

@media (min-width: 30em) {
    .c-gallery--2-col .c-gallery__wrap {
        grid-template-columns:repeat(2, [col] 1fr)
    }
}

@media (min-width: 62.5em) {
    .c-gallery--2-col .c-gallery__wrap {
        grid-column-start:col 2;
        grid-column-end: span 10
    }
}

@media (min-width: 30em) {
    .c-gallery--3-col .c-gallery__wrap {
        grid-template-columns:repeat(3, [col] 1fr)
    }
}

@media (min-width: 30em) {
    .c-gallery--4-col .c-gallery__wrap {
        grid-template-columns:repeat(2, [col] 1fr)
    }
}

@media (min-width: 62.5em) {
    .c-gallery--4-col .c-gallery__wrap {
        grid-template-columns:repeat(4, [col] 1fr)
    }
}

.c-image {
    background: #E5E9EB;
    margin: 0.75em 0
}

.c-image img {
    width: 100%
}

.c-image figcaption {
    background: #E5E9EB;
    padding: 0.4em 0.7em;
    color: #0D1523;
    line-height: 1.2
}

.c-image figcaption p {
    line-height: inherit;
    margin: 0
}

.u-cool--mid-bg .c-image figcaption,.u-cool--light-bg .c-image figcaption,.u-off-white-bg .c-image figcaption,.u-warm--mid-bg .c-image figcaption,.u-warm--dark-bg .c-image figcaption,.u-peach-bg .c-image figcaption {
    background: #FDFDFD
}

@media (min-width: 62.5em) {
    .c-single-image--inline,.c-quote--inline {
        grid-column-end:span 8
    }
}

.c-single-image--aside,.c-quote--aside {
    max-width: 58ch
}

@media (min-width: 62.5em) {
    .c-single-image--aside,.c-quote--aside {
        grid-column-end:span 4
    }
}

@media (min-width: 62.5em) {
    .c-single-image--aside.u-align--center,.c-quote--aside.u-align--center {
        grid-column-start:col 5
    }
}

@media (min-width: 62.5em) {
    .c-single-image--aside.u-align--right,.c-quote--aside.u-align--right {
        grid-column-start:col 9
    }
}

.c-single-image.c-single-image--full,.c-quote.c-single-image--full {
    padding-bottom: 0.5em
}

.c-quote {
    padding-bottom: 1rem
}

.c-quote .c-quote__blockquote {
    margin: 0.5em 0;
    font-size: 1.125em;
    max-width: 58ch
}

.c-quote .c-quote__blockquote p {
    font-family: 'Macklin Text', Georgia, serif;
    font-style: italic;
    text-decoration: none;
    background-image: linear-gradient(#f7f1e1, #f7f1e1);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 100% 50%;
    padding-bottom: 0;
    display: inline
}

.u-black-bg .c-quote .c-quote__blockquote p {
    background-image: linear-gradient(rgba(229,233,235,0.2), rgba(229,233,235,0.2))
}

.u-cool--dark-bg .c-quote .c-quote__blockquote p {
    background-image: linear-gradient(rgba(229,233,235,0.1), rgba(229,233,235,0.1))
}

.u-cool--mid-bg .c-quote .c-quote__blockquote p {
    background-image: linear-gradient(#e5e9eb, #e5e9eb)
}

.u-cool--light-bg .c-quote .c-quote__blockquote p {
    background-image: linear-gradient(#f7f8f9, #f7f8f9)
}

.u-warm--light-bg .c-quote .c-quote__blockquote p {
    background-image: linear-gradient(rgba(232,223,188,0.5), rgba(232,223,188,0.5))
}

.u-warm--mid-bg .c-quote .c-quote__blockquote p {
    background-image: linear-gradient(rgba(234,140,136,0.2), rgba(234,140,136,0.2))
}

.u-warm--dark-bg .c-quote .c-quote__blockquote p {
    background-image: linear-gradient(rgba(252,249,242,0.5), rgba(252,249,242,0.5))
}

.u-peach-bg .c-quote .c-quote__blockquote p {
    background-image: linear-gradient(rgba(252,249,242,0.2), rgba(252,249,242,0.2))
}

.c-quote .c-quote__blockquote--medium {
    font-size: 1.266em
}

.c-quote .c-quote__blockquote--large {
    font-size: 1.424em
}

.c-quote .c-quote__citation {
    opacity: 0.8;
    font-size: 0.889em;
    font-weight: 500
}

.c-quote .c-quote__citation p {
    margin: 0
}

.u-clearfix:after {
    content: "" !important;
    display: block !important;
    clear: both !important
}

@media print {
    *,*:before,*:after,*:first-letter,*:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important
    }

    a,a:visited {
        text-decoration: underline
    }

    a[href]:after {
        content: " (" attr(href) ")"
    }

    abbr[title]:after {
        content: " (" attr(title) ")"
    }

    a[href^="#"]:after,a[href^="javascript:"]:after {
        content: ""
    }

    pre,blockquote {
        border: 1px solid #999;
        page-break-inside: avoid
    }

    thead {
        display: table-header-group
    }

    tr,img {
        page-break-inside: avoid
    }

    img {
        max-width: 100% !important
    }

    p,h2,h3 {
        orphans: 3;
        widows: 3
    }

    h2,h3 {
        page-break-after: avoid
    }
}

.u-hidden-visually {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important
}

.u-hidden {
    display: none !important
}

@media (max-width: 62.49em) {
    .u-desktop-only {
        border:0 !important;
        clip: rect(0 0 0 0) !important;
        clip-path: inset(50%) !important;
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        white-space: nowrap !important;
        width: 1px !important
    }
}

@media (min-width: 62.5em) {
    .u-device-only {
        border:0 !important;
        clip: rect(0 0 0 0) !important;
        clip-path: inset(50%) !important;
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        white-space: nowrap !important;
        width: 1px !important
    }
}

.u-black-bg {
    background-color: #0a0a0a !important;
    color: #FDFDFD !important
}

.u-cool--dark-bg {
    background-color: #1D2C38 !important;
    color: #FDFDFD !important
}

.u-cool--mid-bg {
    background-color: #D1DADD !important;
    color: #0D1523 !important
}

.u-cool--light-bg {
    background-color: #E5E9EB !important;
    color: #0D1523 !important
}

.u-off-white-bg {
    background-color: #FFFFFF !important;
    color: #0D1523 !important
}

.u-white-bg {
    background-color: #FDFDFD !important;
    color: #0D1523 !important
}

.u-warm--light-bg {
    background-color: #FCF9F2 !important;
    color: #0D1523 !important
}

.u-warm--mid-bg {
    background-color: #F7F1E1 !important;
    color: #0D1523 !important
}

.u-warm--dark-bg {
    background-color: #E8DFBC !important;
    color: #0D1523 !important
}

.u-warm--violet-bg {
    background-color: #DDE7FF !important;
    color: #0D1523 !important
}

.u-peach-bg {
    background-color: #EA8C88 !important;
    color: #0D1523 !important
}

.u-black-txt {
    color: #0D1523 !important
}

.u-cool--dark-txt {
    color: #1D2C38 !important
}

.u-cool--mid-txt {
    color: #D1DADD !important
}

.u-cool--light-txt {
    color: #E5E9EB !important
}

.u-off-white-txt {
    color: #F7F8F9 !important
}

.u-white-txt {
    color: #FDFDFD !important
}

.u-warm--light-txt {
    color: #FCF9F2 !important
}

.u-warm--mid-txt {
    color: #F7F1E1 !important
}

.u-warm--dark-txt {
    color: #E8DFBC !important
}

.u-peach-txt {
    color: #EA8C88 !important
}

.u-violet-txt {
    color: #6400FF !important
}

.u-blue-txt {
    color: #0f4384 !important
}

.u-yellow-txt {
    color: #6b460d !important
}
