---

---

<div id="radarChartTech" class="p-[-2rem] ml-[-2rem] mr-[-1rem]"></div>
<script>
    import ApexCharts from "apexcharts";
    var options = {
        chart: {
            width: "450px",
            type: "radar",
            animations: {
                enabled: false,
            },
            fontFamily: "Outfit, sans-serif",
            toolbar: {
                show: false,
            },
        },
        series: [
            {
                name: "Radar Series 1",
                data: [80, 85, 75, 90, 60, 50, 30],
            },
        ],
        labels: ["Python", "ML", "Spark", "OpenAI", "Azure", "Docker", "Javascript"],
        fill: {
            opacity: 1,
            type: "gradient",
            gradient: {},
        },
        grid: {
            show: false,
        },
        legend: {
            show: false,
        },
        stroke: {
            show: false,
            fill: "solid",
        },
        markers: {
            size: 0,
            hover: {
                size: 0,
            },
        },
        tooltip: {
            enabled: false,
        },
        yaxis: {
            show: false,
        },
        dataLabels: {
            enabled: false,
        },
        plotOptions: {
            radar: {
                polygons: {
                    strokeColor: "#e8e8e8",
                    fill: {
                        colors: ["#f8f8f8", "#fff"],
                    },
                },
            },
        },
    };

    var chart = new ApexCharts(
        document.querySelector(`#radarChartTech`),
        options,
    );
    chart.render();
</script>
