---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Icon } from "astro-icon";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-white">
		<Header title={SITE_TITLE} />
		
		<main class="max-w-[1100px] w-[calc(100%-10em)] mt-[3rem]">
			<div class="flex">
				<h1 class="w-[600px] text-gray-600 text-xl italic">“Hello! I’m a digital scientist living in Switzerland. I enjoy digging through datasets, cooking, following arts and technology„</h1>
			</div>
			<section
				class="flex items-start justify-between flex-col sm:flex-row dark:text-light"
			>
				<h3 class="text-xl w-[20rem] mt-[4.0rem] font-black">
					EXPERIENCE
				</h3>
				<div class="w-full">
					<div class="my-16">
						<div
							class="flex justify-between items-center flex-wrap"
						>
							<h3 class="text-xl font-semibold mb-0">Data Scientist & Engagement Lead, Unit8</h3>
							<p class="text-base mb-0 text-gray-500 dark:text-gray">
								Jan 2019 - Dec 2023
							</p>
						</div>
						<span
							class="iconify"
							data-icon="mdi:map-marker"
							data-inline="false"></span>
						<p class="text-base text-cyan-600 mt-1">
							<Icon
								class="h-[1rem] inline mt-[-0.2rem] ml-[-0.2rem] mr-[0.2rem]"
								pack="mdi"
								name="map-marker"
							/>Lausanne, Switzerland
						</p>
						<ul class="mt-1">
							<li class="text-base dark:text-gray">
								- Developing screens and UI components for the
								web application using React and Tailwind.
							</li><li class="text-base mt-2 dark:text-gray">
								- Fixing UI issues and integrating backend APIs
								with Redux Saga.
							</li>
						</ul>
					</div>
					<div class="my-16">
						<div
							class="flex justify-between items-center flex-wrap"
						>
							<h3 class="text-xl font-semibold mb-0">Senior Data Scientist, Swisscom</h3>
							<p class="text-base mb-0 text-gray-500 dark:text-gray">
								Sep 2015 - Dec 2018
							</p>
						</div>
						<span
							class="iconify"
							data-icon="mdi:map-marker"
							data-inline="false"></span>
						<p class="text-base text-cyan-600 mt-1">
							<Icon
								class="h-[1rem] inline mt-[-0.2rem] ml-[-0.2rem] mr-[0.2rem]"
								pack="mdi"
								name="map-marker"
							/>Lausanne, Switzerland
						</p>
						<ul class="mt-1">
							<li class="text-base dark:text-gray">
								- Developing screens and UI components for the
								web application using React and Tailwind.
							</li><li class="text-base mt-2 dark:text-gray">
								- Fixing UI issues and integrating backend APIs
								with Redux Saga.
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section
				class="flex items-start justify-between flex-col sm:flex-row dark:text-light"
			>
				<h3 class="text-xl w-[20rem] mt-[4.0rem] font-black">
					PROJECTS
				</h3>
			</section>
		</main>
		<Footer />
	</body>
</html>
